.ant-empty-image {
  > svg {
    > g {
      > ellipse {
        fill: theme('colors.background / 60%');
      }

      > g {
        > path {
          stroke: theme('colors.text-body / 50%');

          &:nth-child(2) {
            fill: theme('colors.background');
          }
        }
      }
    }
  }
}

.ant-empty-normal .ant-empty-description {
  @apply text-text-body #{!important};
}