#nprogress {
  --ngprogress-color: theme('colors.primary');
  --ngprogress-index: 9999;
  --ngprogress-height: 3px;
  --ngprogress-shadow: 0 0 10px var(--ngprogress-color),0 0 5px var(--ngprogress-color);

  pointer-events: none;

  .bar {
    background: var(--ngprogress-color);
    position: fixed;
    z-index: var(--ngprogress-index);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--ngprogress-height);
  }

  .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
    box-shadow: var(--ngprogress-shadow);
    z-index: var(--ngprogress-index);
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: var(--ngprogress-index, 1200);
    top: 15px;
    right: 15px;
  }

  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: var(--ngprogress-color, 'red');
    border-left-color: var(--ngprogress-color, 'red');
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }

  @-webkit-keyframes nprogress-spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes nprogress-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
